.btnAdd{
    background-color: green;
    color: white;
    border-radius: 5px;
    height: 29px;
}

.textInput{
    border-radius: 5px;
    height: 25px;
}

.listItem{
    color: black;
    background-color: white;
    margin: 5px;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.btnDel{
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    height: 21px;
    margin-right: 3px;
}

.btnOrder{
    color: yellow;
    background-color: aqua;
    border-radius: 5px;
    border: none;
    margin-left: 3px;
}

.listItemOperations{
    min-width: none;
    display: flex;
    justify-content:space-evenly;
}